{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:dev {:extra-deps {nrepl/nrepl       {:mvn/version "0.9.0"}
                     cider/cider-nrepl {:mvn/version "0.28.3"}}
        :main-opts  ["-m" "nrepl.cmdline"
                     "-i"
                     "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}}}
